@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;300&display=swap'); */

@font-face {
  font-family: 'VazirMatn';
  src: url('/fonts/Vazirmatn-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --lighterBlue: '#00DAF5',
  --lightBlue: '#009BE0',
  --darkBlue1: '#004fcd'
  --darkBlue2: '#005EBD'
}

* {
  direction: rtl;
  font-family: 'Vazirmatn' !important;
}

.colorBackground90{
  background: linear-gradient(90deg, rgba(0,218,245,1) 21%, rgba(0,79,205,1) 100%);
}
.colorBackground180{
  background: linear-gradient(180deg, rgba(0,218,245,1) 0%, rgba(0,79,205,0) 50%, rgba(0,79,205,0) 100%); 
}
.colorBackground200{
background: linear-gradient(200deg, rgba(0,218,245,1) 21%, rgba(0,79,205,1) 100%);
}

.rmdp-container {
  width: 100%;
  height: 3rem;
  /* padding: 1rem 0 ; */
}
.swiper-button-next::after, .swiper-button-prev::after {
  content: "";
  border-radius:50%;
  font-size:2rem !important;
}

/* .rmdp-input {
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
} */
